/*
---------
Reset
---------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------
Debug
---------
*/

.debug .container{
    height: 70px;
}

.debug .container-footer{
    height: 110px;
}

/*
---------
Common
---------
*/

body{
    font-family: 'Roboto', sans-serif; 
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

.logo{
    height: 35px;
    width: 140px;
}

img{
    display: block;
    width: 450px;
    height: 645px;
}

strong{
    color: red;
}

h3{
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
    font-size: 16px;
}

/*
---------
Header
---------
*/

header{
    background-color: #ff6900;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1385px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.uomo-donna-bambini{
    width: 20%;
    display: flex;
    justify-content: center;
}

.container-logo{
    width: 60%;
    padding: 0 345px 0 345px;
}

.container-shopping{
    width: 20%;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
}

/*
---------
Main
---------
*/


.container-main-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

h2{
    font-size: 20px;
}

.img1{
    display: block;
}

.img1b{
    display: none;
}

.product1:hover .img1{
    display: none;
}

.product1:hover .img1b{
    display: block;
}

.img2{
    display: block;
}

.img2b{
    display: none;
}

.product2:hover .img2{
    display: none;
}

.product2:hover .img2b{
    display: block;
}

.img3{
    display: block;
}

.img3b{
    display: none;
}

.product3:hover .img3{
    display: none;
}

.product3:hover .img3b{
    display: block;
}

.img4{
    display: block;
}

.img4b{
    display: none;
}

.product4:hover .img4{
    display: none;
}

.product4:hover .img4b{
    display: block;
}

.img5{
    display: block;
}

.img5b{
    display: none;
}

.product5:hover .img5{
    display: none;
}

.product5:hover .img5b{
    display: block;
}

.img6{
    display: block;
}

.img6b{
    display: none;
}

.product6:hover .img6{
    display: none;
}

.product6:hover .img6b{
    display: block;
}

/*
---------
Footer
---------
*/

.container-footer{
    background-color: #1a1a1a;
    border-bottom: 1px solid white;
    margin-top: 60px;
    padding: 30px 270px 30px 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.social ul li .fa-brands{
    font-size: 20px;
    margin: 5px;
}

.info ul li a{
    color: white;

}