/*
---------
Reset
---------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------
Debug
---------
*/

.debug .container {
    height: 70px;
}

.debug .container-footer {
    height: 110px;
}

/*
---------
Common
---------
*/

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
}

.logo {
    height: 35px;
    width: 140px;
}

img {
    display: block;
    width: 450px;
    height: 645px;
}

strong {
    color: red;
}

h3 {
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
    font-size: 16px;
}

.cuore {
    color: black;
}

.cuore1 {
    color: red;
}

/*
---------
Header
---------
*/

li>a {
    color: white;
}

.container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 25px 0;
}

.uomo-donna-bambini {
    width: 20%;
    display: flex;
    justify-content: center;
}

.container-logo {
    width: 60%;
    display: flex;
    justify-content: center;
}

.container-shopping {
    width: 20%;
    display: flex;
    justify-content: center;
    color: white;
    gap: 10px;
}

/*
---------
Main
---------
*/

.container-main-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 37px;
    margin-top: 130px;
}

h2 {
    font-size: 20px;
}

.img1 {
    display: block;
}

.img1b {
    display: none;
}

.product1:hover .img1 {
    display: none;
}

.product1:hover .img1b {
    display: block;
}

.product1 .heart:hover{
    color: red;
}

.product1 {
    position: relative;
}

.heart {
    padding: 15px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
}

.fa-sharp .fa-solid .fa-heart {
    color: black;
}

.sale {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: red;
    padding: 5px 10px;
}

.sale a {
    color: white;
}

.eco {
    position: absolute;
    bottom: 40px;
    left: 60px;
    background-color: green;
    padding: 5px 10px;
}

.eco a {
    color: white;
}

.eco1 {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: green;
    padding: 5px 10px;
}

.eco1 a {
    color: white;
}

/*
---------
Footer
---------
*/

.container-footer {
    background-color: #1a1a1a;
    border-bottom: 1px solid white;
    margin-top: 60px;
    padding: 30px 270px 30px 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.social ul li .fa-brands {
    font-size: 20px;
    margin: 5px;
}

.info ul li a {
    color: white;

}